<!DOCTYPE html>
<html>
<head>
    <title>后台管理系统</title>
    <link rel='stylesheet' href='/stylesheets/common.css' />
    <link rel='stylesheet' href='/stylesheets/style.css' />
</head>
<frameset cols="">

</frameset>
<body>
<div class="container">

</div>
</body>
</html>
