body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}
.container {
  width: 100vw;
  height: 100vh;
  color: #fff;
  background-color: #dbc6c6;
  overflow: hidden;
}
header {
  display: flex;
  justify-content: space-between;
  padding: 40px;
}
form {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%,-50%)
}
form .form-group + .form-group {
  margin-top: 20px;
}
form .form-group {
  display: flex;
  justify-content: space-between;
}
form input {
  width: 318px;
  height: 40px;
  margin-left: 20px;
  border-radius: 12px;
  padding: 0 10px;
}
form label {
  font-size: 24px;
  font-weight: 600;
  line-height: 40px;
}
form button {
  margin-top: 32px;
  width: 100%;
  line-height: 40px;
  color: #fff;
  background-color: #047BFB;
  border-radius: 12px;
}